* {
    margin: 0;
}
html {
    font-family: sans-serif;
}
:root {
    --blue: #000cff;
    --gray: gray;
    --black: #000;
    --white: #fff;
}
a {
    color: inherit;
    text-decoration: inherit;
}
/* ========= Background ======= */
.bg-blue-700 {
    background-color: var(--blue);
}
.bg-white {
    background-color: var(--white);
}
/* ========= Text Center ======= */
.text-center {
    text-align: center;
}
.items-center {
    align-items: center;
}
.justify-center {
    justify-content: center;
}
/* ========= Text Blue ======= */
.text-blue-600 {
    color: var(--blue);
    --tw-text-opacity: 1;
}
/* ========= Padding ======= */
.py-8 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.px_1 {
    padding: 13.5px;
}

.py-2 {
    padding-top: 8px;
    padding-bottom: 8px;
}
.py-3 {
    padding-top: 12px;
    padding-bottom: 12px;
}
.py-5 {
    padding-top: 20px;
    padding-bottom: 20px;
}
.py-10 {
    padding-top: 40px;
    padding-bottom: 40px;
}
.px-3 {
    padding-left: 12px;
    padding-right: 12px;
}
.px-5 {
    padding-left: 20px;
    padding-right: 20px;
}
.p-4 {
    padding: 16px;
}
.p-5 {
    padding: 20px;
}
/* ========= Margin ======= */
.mb-4 {
    margin-bottom: 16px;
}
/* ========= Text-white ======= */
.text-white {
    color: var(--white);
}
/* ========= Max-width ======= */
.w-h {
    width: 350px;
    height: 350px;
}
.max-w-6xl {
    max-width: 72rem;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.my-5 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.mt-5 {
    margin-top: 20px;
}
/* ========= justify-between ======= */
.justify-between {
    justify-content: space-between;
}
/* ========= Display ======= */
.flex {
    display: flex;
}
.grid {
    display: grid;
}
.block {
    display: block;
}
.inline-block {
    display: inline-block;
}
/* ========= Grid ======= */
.grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
}
.gap-4 {
    gap: 16px;
}
/* ========= Border-width ======= */
.border-2 {
    border-width: 2px;
}
.border-4 {
    border-width: 4px;
}
/* ========= Border-color ======= */
.border-blue-500 {
    border-color: var(--blue);
}
.border-blue-600 {
    border: solid;
    border-color: var(--blue)
}

/* ========= Text-xl ======= */
.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}
.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}
/* ========= Font-weight ======= */
.font-bold {
    font-weight: 700;
}
/* ========= Height ======= */
.h-6 {
    height: 1.5rem;
}
/* ========= Width ======= */
.w-6 {
    width: 1.5rem;
}
.w-full {
    width: 100%;
}
/* ========= Margin ======= */
.mr-2 {
    margin-right: 0.5rem; 
}
.mb-5 {
    margin-bottom: 1.25rem;
}
.mb-4 {
    margin-bottom: 16px;
}
/* ========= Flex-end ======= */
.items-end {
    align-items: flex-end;
}
/* ========= Font-size ======= */
.text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
}
.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}
/* ========= Shadow ======= */
.shadow {
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
/* ========= transition ======= */
.transition {
    transition-property: color, background-color, border-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}
.ease-in-out {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.duration-300 {
    transition-duration: 300ms;
}
/* ========= HOver ======= */
.hover\:shadow-xl:hover {
    --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.hover\:cursor-pointer:hover {
    cursor: pointer;
}
.group:hover .group-hover\:text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}
.group:hover .group-hover\:bg-blue-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(37 99 235 / var(--tw-bg-opacity));
}

.bg-gray-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}
.bg-blue-600 {
    border: solid;
    background-color: rgb(37 99 235 / var(--tw-bg-opacity));
}
.space-x-10 a {
    padding: 0 20px;
}