@media (min-width: 768px) {
    .md\:flex {
        display: flex;
    } 
    .md\:text-7xl {
        font-size: 4.5rem;
        line-height: 1;
    }
    .md\:text-2xl {
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .md\:grid-cols-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    .md\:gap-8 {
        gap: 2rem;
    }
    .md\:text-3xl {
        font-size: 1.875rem;
        line-height: 2.25rem;
    }
    .md\:w-auto {
        width: auto;
    }
    .md\:inline-block {
        display: inline-block;
    }
    .md\:py-5 {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .md\:text-6xl {
        font-size: 3.75rem;
        line-height: 1;
    }
}
