:root {
    --blue: #000cff;
    --gray: gray;
    --black: #000;
    --white: #fff;
}
/* ========= Background ======= */
.bg-blue-700 {
    background-color: var(--blue);
}
/* ========= Text Center ======= */
.text-center {
    text-align: center;
}
/* ========= Padding Y ======= */
.py-8 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
/* ========= Text White ======= */
.text-white {
    color: var(--white);
}